.container {
  width: 1000px;
  margin: 30px auto;
  background: #ddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(150px, -webkit-min-content))[2];
  -ms-grid-rows: (minmax(150px, min-content))[2];
  grid-template-rows: repeat(2, minmax(150px, -webkit-min-content));
  grid-template-rows: repeat(2, minmax(150px, min-content));
  -ms-grid-columns: minmax(200px, 50%) (1fr)[3];
  grid-template-columns: minmax(200px, 50%) repeat(3, 1fr);
  width: 90%; }

.item {
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background: orangered; }
  .item--1 {
    background: orangered; }
  .item--2 {
    background: yellowgreen; }
  .item--3 {
    background: blueviolet; }
  .item--4 {
    background: palevioletred; }
  .item--5 {
    background: royalblue; }
  .item--6 {
    background: goldenrod; }
  .item--7 {
    background: crimson; }
  .item--8 {
    background: darkslategray; }
